.Maintimer {
    position: absolute;
    top: 60%; 
    left: 50%; 
    border-radius: 30px;
    border: 1px solid white;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 19rem;
    background-color: rgba(1, 0, 10, 0.4);
    backdrop-filter: blur(5px);
    font-size: 4rem;
    flex-direction: column;
}
.Options{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}
.child1{
    padding:0;
    font-size: small;
    width: 84px;
    height: 40px;
    background-color: transparent;
    border: whitesmoke solid 1px ; 
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.child1:hover{
    transition-duration: 0.2s;
    background-color: rgba(1, 1, 1, 0.3);
    border-radius: 10px;
    width: 94px;
    font-size: medium;
    font-weight: bold;
    color: rgb(249, 177, 10);
    border:2px solid rgb(249, 176, 8);
}
.child1:active{
    background-color: black;
    border:2px solid rgb(11, 198, 245);
    width: 104px;
    color: rgb(11, 198, 245);
    border-radius: 10px;
    font-weight: bolder;
    
}
#timer{
    font-size: 5.7rem;
    font-weight: bolder;
    
}
#startStopBtn{
    /* margin-top: 30px;
    font-size: 2rem;
    background-color: whitesmoke;
    border: none;
    width: 30%;;
    border-radius: 5px;


/* CSS */
/* #startStopBtn { */ 
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 40px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#startStopBtn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

#startStopBtn:hover:after {
  transform: translate(0, 0);
}

#startStopBtn:active {
  background-color: #ffdeda;
  outline: 0;
}

#startStopBtn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  #startStopBtn {
    padding: 0 40px;
  }
}
